﻿@using static M183.Controllers.AcmController
@{
    ViewData["Title"] = "Home Page";
}

    <h2>M183 - Applikationssicherheit implementieren</h2>
    <h3>3 - 2FA TOTP</h3>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <span>Sie sind angemeldet :)</span>
        <span>Drücken Sie @Html.ActionLink("HIER", "Logout", "acm") um sich abzumelden.</span>
    }
    else
    {
        <span>Drücken Sie @Html.ActionLink("HIER", "Register", "acm") um sich registrieren.</span>
        <br />
        <span>Drücken Sie @Html.ActionLink("HIER", "Login", "acm") falls Sie sich anmelden wollen.</span>
    }
</div>