﻿@using static M183.Controllers.AcmController
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@if (User.Identity.IsAuthenticated)
{
    <span>Sie sind angemeldet :)</span>
    <span>Drücken Sie @Html.ActionLink("HIER", "Logout", "acm") um sich abzumelden.</span>
}
else
{
    <span>Drücken Sie @Html.ActionLink("HIER", "Register", "acm") um sich registrieren.</span>
    <br />
    <span>Drücken Sie @Html.ActionLink("HIER", "Login", "acm") falls Sie sich anmelden wollen.</span>
}
<p>Use this page to detail your site's privacy policy.</p>
