@using System.Security.Claims
@{
    ViewData["Title"] = "Account";
    ClaimsIdentity user = ((ClaimsIdentity)User.Identity);

}
<h2>@ViewData["Title"]</h2>

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Sie sind als @user.Name über @User.Identity.AuthenticationType angemeldet.</h2>

        <div class="text-center">
            @if (User.Identity.AuthenticationType == "Google")
            {
                <img src="@user.Claims.FirstOrDefault(e => e.Type == "urn:google:picture")?.Value)" style="border-radius: 50%; max-height: 50px;">
            }
        </div>

        <div>
            <b>Provider: </b>
            <span>@user.AuthenticationType
        </div>

        <div>
            <b>Name:</b>
            <span>@user.Name</span>
        </div>
        
        <div>
            <b>EMail:</b>
            <span>@user.Claims.FirstOrDefault(e => e.Type == ClaimTypes.Email).Value</span>
        </div>

        <a href="@Url.Action("Logout", "Acm")" class="btn btn-primary">Logout</a>
    }
</div>
