@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>

<h2>Sie sind gerade nicht angemeldet</h2>
<a href="@Url.Action("LoginWithGoogle", "Acm")" class="btn btn-danger"><i class="fab fa-google"></i>   Mit Google anmelden.</a>
<a href="@Url.Action("LoginWithMicrosoft", "Acm")" class="btn btn-primary"><i class="fab fa-microsoft"></i>   Mit Microsoft anmelden.</a>