html, body {
    display: flex;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    flex-direction: column;
}

#clickme {
    z-index: 1;
}

#clickme h1,h2 {
    text-align: center;
}

input[type=button] {
    margin-left: 10px;
    padding: 6px;
}

select {
    padding: 6px;
    width: 100%;    
}