@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <form method="POST" asp-route-returnUrl="@ViewData["ReturnUrl"]">
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" autocomplete="off" />
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" autocomplete="off">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Log in</button>
        </div>
    </form>
</div>
