﻿@model TotpSetupViewModel
@{
    ViewData["Title"] = "Setup 2FA";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <img src="@Model.QRCode"/>
    
    @switch (Model.State)
    {
        case SetupState.Setup:
            {
                @if (Model.ShowError)
                {
                    <p>Das Token das Sie eingegeben haben ist falsch! Bitte scannen Sie den QR-Code erneut.</p>
                }
                <form method="POST" asp-controller="acm" asp-action="setup">
                    <div class="form-group">
                        <label asp-for="Token">Token</label>
                        <input type="text" asp-for="Token" autocomplete="off" />
                    </div>
                </form>
            }
            break;
        case SetupState.Successful:
            {
                <div>

                </div>
            }
            break;
    }
</div>
