﻿@model TotpViewModel
@{
    ViewData["Title"] = "Zweiter Faktor";
}
<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    @if (ViewData["info"] != null)
    {
        <div style="color:red;">
            @ViewData["info"]
        </div>
    }
    <form method="POST" asp-controller="acm" asp-action="VerifyTotp">
        <div class="form-group">
            <label asp-for="Token"></label>
            <input asp-for="Token" autocomplete="off">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Log in</button>
        </div>
    </form>
</div>
