﻿@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    ClaimsIdentity user = ((ClaimsIdentity)User.Identity);
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Sie sind als @user.Name über @User.Identity.AuthenticationType angemeldet.</h2>

        <div class="text-center">
            @if (User.Identity.AuthenticationType == "Google")
            {
                <img src="@user.Claims.FirstOrDefault(e => e.Type == "urn:google:picture")?.Value)" style="border-radius: 50%; max-height: 50px;">
            }
        </div>

        <div>
            <b>Provider: </b>
            <span>@user.AuthenticationType
        </div>

        <div>
            <b>Name:</b>
            <span>@user.Name</span>
        </div>
        
        <div>
            <b>EMail:</b>
            <span>@user.Claims.FirstOrDefault(e => e.Type == ClaimTypes.Email).Value</span>
        </div>

        <a href="@Url.Action("Logout", "Acm")" class="btn btn-primary">Logout</a>
    }
    else
    {
        <h2>Sie sind gerade nicht angemeldet</h2>

        <a href="@Url.Action("LoginWithGoogle", "Acm")" class="btn btn-danger"><i class="fab fa-google"></i>   Mit Google anmelden.</a>
        <a href="@Url.Action("LoginWithMicrosoft", "Acm")" class="btn btn-primary"><i class="fab fa-microsoft"></i>   Mit Microsoft anmelden.</a>
    }
</div>
